body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    min-height: 100vh;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.image {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding:  0 30px;
}

img {
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
}

.header {
    display: flex;
    background-color: #1F2937;
    height: 70px;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    margin: 0 20px;
    gap: 20px;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo img {
    height: 40px;
    /* width: 40px; */
    object-fit: contain;
}

.logo p {
    color: #E5E7EB;
    font-size: 20px;
}

.header-right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 16px;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
}

.header-right a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 20px;
}

.body {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 150px;
    padding: 70px 150px;
    background-color: #1F2937;
}

.about {
    display: flex;
    flex-direction: column;
    /* max-height: 300px; */
    flex: 1;
    margin: 30px;
    background-color: #1F2937;
    gap: 10px;
}

.about-item.item1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    align-self: flex-end;
    flex-grow: 0;
}

.about-item.item2 {
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    flex-grow: 0;
}

.about-item.item3 {
    align-items: flex-start;
    flex-grow: 0;
    /* margin: 10px; */
    /* padding: 10px; */
}

.about-item button {
    border: solid #F9FAF8;
    margin: 0px;
    padding: 6px 20px;
    border-radius: 5px;
}

.container-2 {
    display: flex;
    flex: 1;
    background-color: white;
    justify-content: center;
    margin: 30px;
}

.container-2 p {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 20px 0 10px 0;
}

.container-3 {
    display: flex;
    flex-flow: row wrap;
    padding: 40px 20px 100px 20px;
    flex: 1;
    background-color: white;
}

.container-3 .recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    flex: 1;
}

.recipe .recipe-img {
    display: flex;
    border: 5px solid black;
    height: 200px;
    width: 200px;
    border-radius: 10%;
}

.recipe .recipe-desc {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.container-4 {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 25vh;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
}

#quote {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 5px;
}

.container-4 .quote {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: flex-end;
    font-size: 22px;
    font-weight: light italic;
    color: #1F2937;
}

.container-4 .quoter {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    font-size: 22px;
}

.container-5 {
    display: flex;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container-5 .sign-up {
    display: flex;
    background-color: #3882F6;
    padding: 40px 130px;
    justify-content: space-between;
    gap: 50px;
    border-radius: 10px;
}

.container-5 .sign-up-left {
    display: flex;
    flex-flow: column wrap;
    background-color: #3882F6;
}

.sign-up-left .call {
    font-size: 24px;
    color: #F9FAF8;
}

.sign-up .call-desc {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up .button {
    display: flex;
    align-items: flex-end;
}

.sign-up button {
    border: solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    margin: 0px;
    padding: 6px 20px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    align-items: center;
    padding: 30px;
    font-size: 18px;
    color: #E5E7EB;
}





