body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    border: 1px solid black;
}

.header {
    display: flex;
    background-color: lightcoral;
    height: 50px;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    margin: 0 20px;
    gap: 20px;
}

.header-right ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0 20px;
    padding: 0;
    gap: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-1 {
    display: flex;
    flex: 1;
    background-color: lightgoldenrodyellow;
}

.container-2 {
    display: flex;
    flex: 1;
    background-color: lightskyblue;
}

.container-3 {
    display: flex;
    flex: 1;
    background-color: lightpink;
}






